[class*="editor-block-list-item-mana-booking"] {
    .block-editor-block-types-list__item-icon {
        // background: $color-4;
        border-radius: 5px;
        border: 1px solid $color-3;
    }

    .mana-booking-block-icon {
        color: $color-3;
        font-size: 1.4em;
    }
}