.postbox[id^='ravis_booking_'] {
    border: 0;
    box-shadow: none;
    margin-bottom: 20px;
    > .handlediv {
        position: relative;
        // color: $color-1;
        z-index: 111;
        // .toggle-indicator{
        //     color: $color-1;
        // }
    }
    > h2 {
        // background: $color-5;
        // line-height: 20px !important;
        // text-transform: uppercase;
        // // color: $color-2 !important;
        // border-radius: 5px 5px 0 0;
        // line-height: 50px;
        // border-bottom: 4px solid $color-1 !important;
        border-bottom: 0;
    }
    .inside {
        // margin: -1px 0 0 !important;
        padding-top: 1px;
        background: $color-5;
        // border: 1px solid $color-3;
        border: 0;
        border-radius: 5px;
        .form-table {
            input[type="text"], input[type="number"], input[type="url"], input[type="email"], textarea, select {
                background: $color-1;
                box-shadow: none;
                border: 1px solid darken($color-1, 10%);
                min-width: 300px;
                height: 40px;
                vertical-align: middle;
                // padding: 5px;
                &.small {
                    min-width: 100px;
                }
                &[readonly]{
                    border: 0;
                }
                &.highlighted{
                    font-size: 1.1em;
                color: $color-3;
                font-weight: bold;
                }
            }
            textarea {
                height: 100px;
            }
            .button {
                border-radius:0;
                border: 0;
                box-shadow: none;
                padding: 4px 25px;
                height: auto;
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                min-width: 120px;
                border-radius: 5px;
                background: $color-3;
                text-shadow: none;
            }
            .description {
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
            }
            .custom_repeatable {
                @include clearfix;
                margin-bottom: 10px;
                li {
                    position: relative;
                    > span, a {
                        display: block;
                        position: absolute;
                    }
                    .input-containers {
                        display: table;
                        margin-right: 40px;
                        width: calc(100% - 40px);
                        .input-box {
                            display: table-cell;
                            vertical-align: middle;
                            input {
                                width: 100%;
                                min-width: 0;
                                border-right: 0;
                            }
                            &:last-child {
                                input {
                                    border-right: 1px solid darken($color-1, 10%);
                                }
                            }
                        }
                    }
                    a {
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    .repeatable-remove {
                        color: red;
                        top: 10px;
                        right: 0;
                        text-decoration: none;
                        @include square(38px);
                        background: $color-1;
                        border: 1px solid rgba(red, .1);
                        text-align: center;
                        i {
                            line-height: 38px;
                        }
                    }
                    &.single {
                        > span, a {
                            position: initial;
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: -4px;
                        }
                        .input-containers {
                            vertical-align: middle;
                            display: inline-block;
                            margin-right: 0;
                            width: 300px;
                            .input-box {
                                display: block;
                            }
                        }
                    }
                    &.services {

                        > span, a {
                            position: initial;
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: -4px;
                        }
                        .input-containers {
                            @include clearfix;
                            vertical-align: middle;
                            display: inline-block;
                            margin-right: 0;
                            width: 500px;
                            .input-box {
                                display: block;
                                width: 50%;
                                float: left;
                            }
                        }
                    }

                    &.seasonal {
                        width: 500px;
                        float: left;
                        border: 1px solid $color-3;
                        background: darken($color-1, 5%);
                        padding: 15px 20px 20px;
                        margin: 0 10px 10px 0;
                        .repeatable-remove {
                            top: 0;
                            @include square(28px);
                            i {
                                line-height: 28px;
                            }
                        }
                        .extra-box {
                            margin-top: 20px;
                            > .title {
                                background: $color-1;
                                text-align: center;
                                border: 1px solid $color-3;
                                color: $color-3;
                                line-height: 30px;
                                margin-bottom: 10px;
                            }
                        }
                    }

                    &.menu-item {
                        .input-containers {
                            @include clearfix;
                            vertical-align: middle;
                            display: inline-block;
                            margin-right: 0;
                            width: 550px;
                            .input-box {
                                display: block;
                                float: left;
                                &.title-box {
                                    width: calc(70% - 40px);
                                }
                                &.price-box {
                                    width: 30%;
                                }
                                &.chief-selection {
                                    @include size(40px, 41px);
                                    margin-right: -1px;
                                    position: relative;
                                    label {
                                        display: block;
                                        text-align: center;
                                        input {
                                            display: none;
                                            &:checked {
                                                + .bg {
                                                    background: $color-3;
                                                    i {
                                                        display: inline-block;
                                                        color: $color-1;
                                                        font-size: 1.7em;
                                                        @include square(auto);
                                                        line-height: 40px;
                                                    }
                                                    + .text {
                                                        opacity:1;
                                                        visibility: visible;
                                                    }
                                                }
                                            }
                                        }
                                        .bg {
                                            position: absolute;
                                            @include square(100%);
                                            top: 0;
                                            left: 0;
                                            background: darken($color-1, 10%);
                                            transition:all .3s ease;
                                            text-align: center;
                                            i {
                                                display: none;
                                            }
                                        }
                                        .text {
                                            position: absolute;
                                            right: 103%;
                                            top: 0;
                                            height: 41px;
                                            line-height: 40px;
                                            background: $color-3;
                                            color: $color-1;
                                            transition:all .3s ease;
                                            opacity:0;
                                            visibility: hidden;
                                            display: block;
                                            font-size: .9em;
                                            white-space: nowrap;
                                            padding: 0 15px;
                                        }
                                        &:hover {
                                            .bg {
                                                background: darken($color-1, 10%);
                                            }
                                            .text {
                                                opacity:1;
                                                visibility: visible;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        > span, a {
                            position: initial;
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: -5px;
                        }
                        .menu-item-remove {
                            color: red;
                            top: 10px;
                            right: 0;
                            text-decoration: none;
                            @include square(38px);
                            background: $color-1;
                            border: 1px solid rgba(red, .1);
                            text-align: center;
                            i {
                                line-height: 38px;
                            }
                        }
                    }
                    .sort {
                        top: 10px;
                        left: 0;
                    }
                }
            }
            .price-separated-container {
                margin-left: 10px;
                font-size: 1.3em;
                color: $color-3;
                font-weight: bold;
                display: inline-block;
                vertical-align: middle;
                .unit {
                    margin-right: 3px;
                }
            }
            .room-id-box {
                font-size: 1.1em;
                color: $color-3;
                font-weight: bold;
            }
            .capacity-field-container {
                input {
                    display: inline-block;
                    vertical-align: middle;
                    min-width: 0;
                    width: 130px;
                    &:first-child {
                        margin-right: 10px;
                    }
                    &:last-child {
                        margin-left: 10px;
                    }
                }
            }
            // Ravis image Slide Show
            .clearfix {
                @include clearfix;
            }
            .ravis_slideshow_wrapper {
                .slideshow_images {
                    margin: 0;
                    li {
                        float: left;
                        width: 155px;
                        margin: 3px;
                        background: darken($color-1, 5%);
                        padding: 5px;
                        position: relative;
                        img {
                            width: 100%;
                            height: auto;
                            display: block;
                        }
                        a {
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 20px;
                            height: 20px;
                            background: darken($color-1, 5%);
                            display: block;
                            text-align: center;
                            line-height: 20px;
                            text-decoration: none;
                            font-weight: bold;
                            color: red;
                        }
                    }
                }

                &.attachments {
                    .slideshow_images {
                        li {
                            border: 0;
                            width: auto;
                            margin: 0 10px 10px 0;
                            padding: 10px 20px 10px 10px;
                            background: darken($color-1, 5%);
                            a {
                                position: initial;
                                float: left;
                                margin-right: 10px;
                            }
                            &.img-box {
                                padding: 10px;
                                width: 155px;
                                a {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    width: 20px;
                                    height: 20px;
                                    background: darken($color-1, 5%);
                                    display: block;
                                    text-align: center;
                                    line-height: 20px;
                                    text-decoration: none;
                                    font-weight: bold;
                                    color: red;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
            .base-room-price {
                .row {
                    @include clearfix;
                    width: 500px;
                    max-width: 100%;
                    .price-box {
                        width: 50%;
                        float: left;
                        .title {
                            //font-weight: bold;
                            line-height: 30px;
                        }
                        .input-container {
                            &:last-child {
                                margin-left: -1px;
                            }
                            input {
                                min-width: 0;
                                width: 100%;
                            }
                        }
                    }
                }
            }
            tr {
                &.price-type, &.paid-service {
                    display: none;
                }
            }
        }
    }
}