@media print {
	@page {
		size : landscape
	}
	html.wp-toolbar {
		padding-top : 0;
	}
	body {
		&.mana-booking_page_mana-booking-archive {
			font-size : 10pt;
			#wpfooter, #adminmenumain, #adminmenuwrap, #wpadminbar, #mana-booking-booking-archive .wrap h1, .mana-pagination-box {
				display : none;
			}
			#mana-booking-booking-archive .wrap table td, #mana-booking-booking-archive .wrap table th {
				&.booking-more, &.booking-status, &.booking-actions {
					display : none;
				}
			}
			#wpcontent, #wpfooter, #wpbody-content {

				margin-left : 0;
				padding     : 0;
			}
			#mana-booking-booking-archive {
				> .wrap {
					padding : 0;
					margin  : 0;
				}
			}
			#booking-archive-tbl {
				display : none;
			}
			#booking-archive-tbl-virtual {
				display : block;
			}
		}
	}
}