@-webkit-keyframes spiner {
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@-moz-keyframes spiner {
    0%{-moz-transform:rotate(0deg);}
    100%{-moz-transform:rotate(360deg);}
}

@-ms-keyframes spiner {
    0%{-ms-transform:rotate(0deg);}
    100%{-ms-transform:rotate(360deg);}
}

@-o-keyframes spiner {
    0%{-o-transform:rotate(0deg);}
    100%{-o-transform:rotate(360deg);}
}
@keyframes spiner {
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

@mixin spiner($duration, $delay, $function, $fill, $visibility) {
    @include animation-name(spiner);
    @include duration($duration);
    @include delay($delay);
    @include function($function);
    @include fill-mode($fill);
    @include visibility($visibility);
}
