.mana-booking-search-form-container {

    // >h3{}
    // >.desc{}
    .mana-booking-search-form {
        margin-top: 30px;

        .DateInput,
        .DateRangePickerInput_arrow {
            display: none;
        }

        .top-sec {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid $color-4;

            .rooms {
                width: 33.3333%;
            }

            .date-box {
                width: 66.66666%;
                position: relative;
                display: flex;

                >div {
                    width: 50%;
                }

                .DateRangePicker {
                    position: absolute;
                    left: 0;
                    top: 100%;

                    .DateRangePicker_picker {
                        left: 0 !important;
                        top: 0 !important;
                    }
                }
            }

            label {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
                width: 30%;
                text-align: right;
            }

            input,
            select {
                display: inline-block;
                vertical-align: middle;
                width: 60%;
            }
        }

        .room-sec {
            .room-row {
                margin-top: 15px;
                display: flex;
                flex-wrap: wrap;

                >div {
                    width: 25%;
                    line-height: 40px;
                    display: flex;
                    align-items: center;

                    label {
                        padding-right: 10px;
                        width: 30%;
                        text-align: right;
                    }

                    select,
                    button,
                    .value {
                        width: 70%;
                    }

                    .value {
                        font-weight: bold;
                        color: $color-11;

                        button {
                            width: auto;
                            float: right;
                        }
                    }

                    &:first-child {
                        width: 10%;
                    }

                    &:last-child {
                        width: 40%;
                    }
                }

                .title {
                    color: $color-11;
                    font-weight: bold;
                }

                // .adult {}

                // .child {}

                // .room {}


                // &.active {
                //     background: $color-4;
                // }
            }
        }

        .btn-sec {
            margin-top: 20px;
            text-align: center;
        }


        .booking-info-tbl {

            // tr{
            //     td{
            //     }
            // }
            .value {
                font-weight: bold;
                color: $color-11;
            }
        }
    }
}

.mana-booking-search-result {
    border: 2px solid $color-11;
    margin-top: 20px;

    h3 {
        margin: 0;
        background-color: $color-11;
        color: $color-1;
        text-align: center;
        font-size: 22px;
        line-height: 40px;
    }

    .mana-booking-room-listing {
        margin: 0 10px;
    }
}