// Set The General Preset ID
$preset-id: 1;

@import "inc/mixins";
@import "inc/variables";

// Color Variables
$color-1: set-preset-color($preset-id, 1);
$color-2: set-preset-color($preset-id, 2);
$color-3: set-preset-color($preset-id, 3);
$color-4: set-preset-color($preset-id, 4);
$color-5: set-preset-color($preset-id, 5);
$color-6: set-preset-color($preset-id, 6);
$color-7: set-preset-color($preset-id, 7);
$color-8: set-preset-color($preset-id, 8);
$color-9: set-preset-color($preset-id, 9);
$color-10: set-preset-color($preset-id, 10);
$color-11: set-preset-color($preset-id, 11);

@import 'inc/datepicker';
@import 'inc/slick';
@import 'front/listing';